$headerBackgroundColor: white;
$headerLineColor: $thunderbird;
$headerLogoColor: $thunderbird;
$headerLogoShadowColor: $silverChalice;
$headerLinkColor: $flint;
$headerLinkHoverColor: $thunderbird;

$contentBackgroundColor: white;
$contentTextColor: $mineShaft;
$contentHeadersColor: $mineShaft;

$asideBackgroundColor: $pampas;
$asideLineColor: $silverChalice;
$asideLinkColor: $flint;
$asideLinkHoverColor: $thunderbird;
$asideBurgerHoverBackground: $pampas;
$asideBurgerLineColor: $silverChalice;

$footerBackgroundColor: $mercury;
$footerLineColor: $silverChalice;
$footerTextColor: $mineShaft;

$mobileMenuBackgroundColor: $pampas;
$mobileMenuLineColor: $silverChalice;
$mobileMenuHeaderLinkColor: $flint;
$mobileMenuHeaderLinkActiveColor: $thunderbird;
$mobileMenuNavLinkColor: $flint;
$mobileMenuNavLinkActiveColor: $thunderbird;